@model ApplicationUser

@{
    ViewData["Title"] = "User Profile";
}

<h1>User Profile</h1>

<div>
    <h2>@Model.FirstName @Model.LastName</h2>
    <p>Email: @Model.Email</p>
    <p>First Name: @Model.FirstName</p>
    <p>Last Name: @Model.LastName</p>
    <p>Phone Number: @Model.PhoneNumber</p>
    <p>UserName: @Model.UserName</p>
</div>
